.container {
   max-width: 1050px;
   margin: 4rem auto;
   padding: 0 2rem;

   display: flex;
   flex-direction: column;
}

.container h1 {
   color: white;
}

.containerHeader {
   display: flex;
   flex-direction: row;
   margin-bottom: 1rem;

   button {
      background-color: transparent;
      border: 0;
      margin-left: 2rem;
   }
}

.lisOrders {
   display: flex;
   flex-direction: column;
   margin: 1rem 0;
}

.orderItem {
   display: flex;
   flex-direction: row;
   background-color: var(--dark-900);
   margin-bottom: 1rem;
   align-items: center;
   border-radius: 0.3rem;

   button {
      border: 0;
      background: transparent;
      font-size: 1.2rem;
      color: white;
      height: 60px;
      align-items: center;
      display: flex;
   }
}
.tag {
   width: 9px;
   background-color: var(--green-900);
   height: 60px;
   border-radius: 6px 0 0 6px;
   margin-right: 1rem;
}

.emptylist {
   font-size: 2.2rem;
   color: var(--red-900);
   font-weight: bold;
}
