.containerCenter {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: var(--gray-900);
}

.login {
   width: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 2rem 1.5rem;

   form {
      width: 90%;
      display: flex;
      flex-direction: column;
   }
   form button {
      height: 40px;
      font-size: 1.2rem;
   }
}

.text {
   margin-top: 1rem;
   color: white;
   cursor: pointer;
}

@media (max-width: 628px) {
   .login {
      width: 90%;
   }
}
