.container {
   width: 620px;
   background-color: var(--dark-700);
   color: white;
}

.container h2 {
   margin: 1rem 0;
}

.containerItem {
   display: flex;
   flex-direction: column;
   margin: 1rem 0;

   strong {
      color: var(--green-900);
   }
}

.description {
   margin-top: 0.5rem;
   //Para quebrar a linha
   word-break: break-all;
}

.buttonOrder {
   margin-top: 1.5rem;
   background-color: rgba(0, 0, 0, 40%);
   border: 0;
   padding: 0.5rem 1rem;
   border-radius: 0.2rem;
   color: var(--red-900);
}

.table {
   font-size: 1.5rem;
   font-weight: bold;
   color: var(--green-900);
}

@media screen and (max-width: 560px) {
   .container {
      width: 350px;
   }
}
