.button {
   max-width: 600px;
   background-color: var(--red-900);
   border: 0;
   padding: 0.4rem;
   color: white;
   border-radius: 0.5rem;
   transition: filter 0.2;

   &[disabled] {
      cursor: not-allowed;
      svg {
         animation: animate 2s infinite;
      }
   }

   &:hover {
      filter: brightness(1.3);
   }
}

.buttonText {
   color: white;
}

@keyframes animate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
