.container {
   max-width: 1050px;
   margin: 4em auto;
   padding: 0 2rem;

   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.container h1 {
   color: white;
}

.form {
   display: flex;
   flex-direction: row;
   margin: 1rem 0;

   gap: 0.5rem;

   input {
      width: 80%;
   }
   button {
      width: 21%;
   }
}

.input {
   background-color: var(--dark-900);
   border: 0;
   padding: 1rem;
   height: 40px;
   border-radius: 0.3rem;
   color: var(--white);
   border: 1px solid var(--gray-100);
   margin-bottom: 1rem;
}

.button {
   background-color: var(--green-900);
   height: 40px;
   border: 0;
   border-radius: 0.3rem;
   font-size: 1.1rem;
   color: var(--dark-700);
   font-weight: bold;
}
