.headerContainer {
   max-height: 5rem;
}

.headerContent {
   max-width: 1600px;
   height: 6rem;
   margin: auto;
   padding: 0 2.5rem;

   display: flex;
   justify-content: space-between;
   align-items: center;

   img {
      cursor: pointer;
   }
}

.menuNav {
   display: flex;
   align-items: center;

   a {
      color: var(--white);
      padding: 0 0.5rem;
      display: inline-block;
      position: relative;
      transition: color 0.7s;
      font-weight: bold;

      & a + {
         margin-left: 2rem;
      }

      &:hover {
         color: var(--red-900);
      }
   }

   span {
      font-size: 24px;
      color: white;
   }

   p {
      font-size: 16px;
      font-weight: bold;
      margin-left: 0.4rem;
      color: white;
      transition: all 0.8s;

      &:hover {
         color: var(--red-900);
      }
   }

   button {
      margin-left: 0.8rem;
      background-color: transparent;
      border: 0;
      transition: all 0.8s;

      &:hover {
         transform: scale(1.2);
      }
   }
}
